body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #2c3e50;
}

h2 {
    margin-top: 20px;
    color: #34495e;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

#carDetails {
    margin-top: 20px;
    padding: 10px;
    background-color: #ecf0f1;
    border-left: 5px solid #3498db;
}

.hidden {
    display: none;
}

#carList {
    list-style-type: none;
    padding-left: 0;
}

#carList li {
    background-color: #3498db;
    color: white;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
}

#carList li:hover {
    background-color: #2980b9;
}
